body {
    background-color: white;
}
#cart,#products {
    background-color: lightblue;
    padding:5px;
    margin:5px;
}
.button-remove {
    color:red;
}
.button-increase {
    color:green;
}
.sum {
    text-align: center;
}